
<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="test.css">
<title>Page Title</title>
<meta name="description" content="Write some words to describe your html page">
</head>
<body>
<div class="blended_grid">
<div class="middleBanner">
<h1>Title</h1>
<p>Content</p>
</div>
<div class="rightBanner">
<img src="img.jpeg" alt="Italian Trulli">
</div>
<div class="topBanner">
	<h2>Category</h2>
<p>Full image</p>
</div>
</div>
<div class="blended_grid">
<div class="middleBanner">
<h1>Title</h1>
<p>Content</p>
</div>
<div class="rightBanner">
<img src="img.jpeg" alt="Italian Trulli">
</div>
<div class="topBanner">
	<h2>Category</h2>
<p>Full image</p>
</div>
</div>

</body>
</html>
