*{
	padding : 0;
	margin : 0;
	border : 0;
}
body
{
	background-color: #f5f5f5;
}
ul li{
	display:inline;
	margin-right:10px;
	font-size:20px;
	position:sticky;
}
ul
{
	margin:0px;
	padding:45px;

}
ul li:nth-of-type(4) {
	margin-left: -10px;

}
.blended_grid{
	display : inline-block;
	width : 820px;
	overflow : auto;
	margin-bottom: 100px;
	margin-left:10px;
}
.Reply{
	clear : none;
	float : left;

	width:500px;

}


.Left{

	clear : none;
	float : left;
	position : relative;
	width : 152px;
	height : 152px;
}
.Top1{
	border-bottom: 1px solid;
	padding-left:10px;
	border:1px solid;
	clear : none;
	float : left;
	position : relative;
	width : 200px;
	height : 110px;
}
.Top2{
	padding-top: 15px;
	clear : none;
	float : left;
	position : relative;
	width : 350px;
	height : 50px;
}
.Mid{

	clear : none;
	float : left;
	position : relative;
	width : 600px;
	height : 220px;
}
img {
	max-width: 150px;
	height: 150px;
}
.RegularButton  {
	border: none;
	border:1px black solid;
	color: black;
	border-radius: 5px;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	opacity:1;
}




.blended_grid2{
	padding-left:115px;
	display : block;
	width : 700px;
	overflow : auto;
	margin : 0 auto;
}
.ReplyTop{

	float : left;
	clear : none;
	height : 220px;
	width : 420px;
}
.ReplyRight1{
	border:1px solid;
	float : left;
	clear : none;
	height : 75px;
	width : 200px;
}
.ReplyRight2{

	float : left;
	clear : none;
	height : 127px;
	width : 127px;
}
#ReplyForm
{
	background-color: #f5f5f5;
}
#Styled {

	height: 150px;
}
